* {
    background-color: gainsboro;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

#score {
    color: whitesmoke;
    margin: 6px;
    padding: 20px;
    margin-right: 10%;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: mediumseagreen;
    cursor: pointer;
}

/* #high-scores-header {
    color: whitesmoke;
    margin: 6px;
    padding: 20px;
    margin-right: 10%;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: mediumturquoise;
    cursor: pointer;
}

#high-scores-header:hover {
    font-style: italic;
} */

#time {
    color: whitesmoke;
    margin: 6px;
    padding: 20px;
    margin-left: 10%;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: mediumpurple;
}

#score-points-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

/* #score {
    color:darkolivegreen;
    padding: 5px;
    margin: 3px;
    margin-left: 18%;
    font-style: italic;
    font-weight: bold;
} */

#emoji {
    padding: 5px;
    margin: 3px;
    margin-left: 23%;
    font-size: 30px;
}

#quiz-container {
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    /* display: none; */
}

#coding-quiz-title {
    font-size: 35px;
    padding-bottom: 18px;
    color: darkblue;
    margin:6px;
    font-weight: bold;
    border-bottom: 3px solid darkblue;
}

#p-container {
    padding: 5px;
    margin-top: 10px;
}

#p1, #p2 {
    color: darkblue;
    font-size: 19px;
    font-weight: bold;
}

#begin-button-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#begin-button {
    padding: 20px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
    cursor: pointer;
}

#begin-button:hover {
    font-style: italic;
}

#options-container {
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    border-radius: 15px;
    display: none;
}

#question-here {
    text-align: center;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-style: italic;
    margin: 6px;
    padding-bottom: 15px;
    font-size: 35px;
}

#answer-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.choices {
    padding: 10px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.choices:hover {
    background-color: whitesmoke;
}

#result-container {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#result {
    display: none;
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#end-of-quiz-container {
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    border-radius: 15px;
    margin-bottom: 40px;
    display: none;
}

#end-game-title {
    text-align: center;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 30px;
    margin: 6px;
    font-size: 35px;
}

#initials-title {
    text-align: center;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-style: italic;
    margin: 6px;
    font-size: 25px;
}

#initials-input {
    padding: 10px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

#score-title {
    text-align: center;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-style: italic;
    margin: 6px;
    font-size: 25px;
}

#score-input {
    padding: 10px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

#save-button {
    padding: 15px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
}

#save-button:hover {
    font-style: italic;
    background-color: whitesmoke;
}

#high-scores-container {
    display: none;
}

#high-scores-title {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: mediumvioletred;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}

#list-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.user-inputs {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: mediumvioletred;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    /* font-style: italic; */
    margin: 15px;
    border: 6px solid goldenrod;
    font-weight: bold;
    margin-bottom: 45px;
}

/* .initials-list {
    font-size: 25px;
    color: mediumvioletred;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px;
    font-style: italic;
    margin: 15px;
    border: 6px solid goldenrod;
    font-weight: bold;
    margin-bottom: 45px;
} */

#restart-button-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#restart-button {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    color: darkolivegreen;
    background-color: whitesmoke;
    margin: 6px;
    font-size: 16px;
    border-radius: 15px;
    border-bottom: 6px solid darkolivegreen;
    border-right: 6px solid darkolivegreen;
    border-top: 2px solid darkolivegreen;
    border-left: 2px solid darkolivegreen;
    cursor: pointer;
    font-weight: bold;
}

#restart-button:hover {
    background-color: whitesmoke;
    color: darkolivegreen;
    font-style: italic;

}

#clear-button {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    color: darkorange;
    background-color: whitesmoke;
    margin: 6px;
    font-size: 16px;
    border-radius: 15px;
    border-bottom: 6px solid darkorange;
    border-right: 6px solid darkorange;
    border-top: 2px solid darkorange;
    border-left: 2px solid darkorange;
    cursor: pointer;
    font-weight: bold;
}

#clear-button:hover {
    background-color: whitesmoke;
    color: darkorange;
    font-style: italic;
}