* {
    background-color: gainsboro;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#time {
    color: whitesmoke;
    margin: 6px;
    padding: 20px;
    margin-left: 10%;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: mediumpurple;
}

#score-board {
    color: whitesmoke;
    margin: 6px;
    padding: 20px;
    margin-right: 10%;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: mediumturquoise;
}

#score-board:hover {
    font-style: italic;
}

#quiz-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
    border: 6px solid whitesmoke;
    border-radius: 15px;
    background-color: darkcyan;
    margin-bottom: 40px;
}

#coding-quiz {
    font-size: 35px;
    padding-bottom: 15px;
    color:whitesmoke;
    margin:6px;
    background-color: darkcyan;
}

#p1 {
    color: whitesmoke;
    font-size: 19px;
    background-color: darkcyan;
}

#p2 {
    color: whitesmoke;
    font-size: 19px;
    background-color: darkcyan;
    padding-bottom: 30px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
}

#start-button {
    padding: 25px;
    color: goldenrod;
    background-color: mediumvioletred;
    margin: 6px;
    font-size: 16px;
    border: 6px solid goldenrod;
    border-radius: 15px;
}

#start-button:hover {
    font-style: italic;
    font-size: 18px;
}
